.f-app-main-container {
  opacity: 0;
  transition: opacity 0.3s ease-out 2s;
  height: 350px;
  pointer-events: none;
  z-index: 5;

  &--loaded {
    clip: initial;
    opacity: 1;
    pointer-events: all;
  }

}
