body {
  background: transparent;
  color: get-palette-color(secondary);
}

.masthead {
  // background-image: radial-gradient(100% 100%, get-palette-color(primary, light) 0, get-palette-color(primary) 50%);
  background-size: 160px 160px;
  background-position: center top;
  background-repeat: no-repeat;
  height: 80px;
  text-align: center;
}
