.app-content {



}

.playlist {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #fff;

  &__item {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
}
